/bin_search.exe
/deque.exe
/deque.txt
/infixPostfix.exe
/infixPostfix.txt
/infixPostfix_copy.exe
/lin_search.exe
/polyadd.exe
/postFix_Evaluation.exe
/prioQ.exe
/prioQ.txt
/Q.exe
/sparse.exe
/tuple.exe

*.exe
*.txt
